<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgotten Password</title>
</head>
<body>
    <p>
        {% if private_data.gender_id == 'MALE' and private_data.first_name and private_data.last_name %}
            Bonjour Monsieur {{ private_data.first_name }} {{ private_data.last_name }},
        {% elif private_data.gender_id == 'FEMALE' and private_data.first_name and private_data.last_name %}
            Bonjour Madame {{ private_data.first_name }} {{ private_data.last_name }},
        {% elif private_data.first_name and private_data.last_name %}
            Bonjour {{ private_data.first_name }} {{ private_data.last_name }},
        {% elif private_data.first_name %}
            Bonjour {{ private_data.first_name }},
        {% else %}
            Bonjour,
        {% endif %}
    </p>

    <h1>Reset Your Password</h1>
    <p>Click the link below to reset your password:</p>
    <p><a href="{{ front_url }}/reset-password?token={{ token }}&lang={{ lang }}">Reset Password</a></p>
    <p>If you did not request this, please ignore this email.</p>
</body>
</html>